<div class="professor">

    <h1>Yoshiharu Kohayakawa</h1>

    <p>
        <i>
            PhD -
            <a href="http://www.dpmms.cam.ac.uk">
                University of Cambridge
            </a>,
            1991
        </i>
    </p>

    <p>
        Professor Associado<br>

        <a href="http://www.ime.usp.br/mac">
            Departamento de Ciência da Computação
        </a><br>

        <a href="http://www.ime.usp.br">
            Instituto de Matemática e Estatística
        </a><br>

        <a href="http://www.usp.br">
            Universidade de São Paulo
        </a><br>

        Brazil
    </p>

    <hr>

    <ul>
        <li>
            Veja
            <a href="http://www.ime.usp.br/~yoshi/">
                esta página
            </a>
        </li>

        <li>
            MAC323?
            Veja a
            <a href="http://www.ime.usp.br/~yoshi/2001i/mac323">
                página mestre
            </a>
        </li>
    </ul>

    <hr>

    <address>
        <a href="http://www.ime.usp.br/~yoshi/">
            Y. Kohayakawa
        </a>

        <a href="mailto:yoshi@ime.usp.br">
            &lt;yoshi@ime.usp.br&gt;
        </a>
    </address>

    <p class="last-modified">
        Last modified: Thu Jun 14 11:02:43 EDT 2001
    </p>

</div>